.order-sort{
    margin-bottom: 20px;
    align-items: center;
}
.woocommerce-result-count{
    margin-bottom: 0;
}
/*============================= Star Rating ============================*/
.wooeshop-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin-bottom: 10px;
}

@font-face {
    font-family:star;
    src:url(../fonts/star.eot);
    src:url(../fonts/star.eot?#iefix) format("embedded-opentype"),url(../fonts/star.woff) format("woff"),url(../fonts/star.ttf) format("truetype"),url(../fonts/star.svg#star) format("svg");
    font-weight:400;
    font-style:normal;
}

@font-face {
    font-family: WooCommerce;
    src: url(../fonts/WooCommerce.eot);
    src: url(../fonts/WooCommerce.eot?#iefix) format("embedded-opentype"), url(../fonts/WooCommerce.woff) format("woff"), url(../fonts/WooCommerce.ttf) format("truetype"), url(../fonts/WooCommerce.svg#WooCommerce) format("svg");
    font-weight: 400;
    font-style: normal;
}

.products .product .star-rating {
    font-size: .857em;
}
.woocommerce .star-rating {
    float: right;
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1;
    font-size: 1em;
    width: 5.4em;
    font-family: star;
}
.woocommerce .star-rating::before {
    content: "sssss";
    color: #d3ced2;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
}
.woocommerce .star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
}
.woocommerce .star-rating span::before {
    content: "SSSSS";
    top: 0;
    position: absolute;
    left: 0;
    color: #FFD333;
}
.woocommerce .woocommerce-product-rating {
    line-height: 2;
    display: block;
}
.woocommerce .woocommerce-product-rating::after,
.woocommerce .woocommerce-product-rating::before {
    content: " ";
    display: table;
}
.woocommerce .woocommerce-product-rating::after {
    clear: both;
}
.woocommerce .woocommerce-product-rating .star-rating {
    margin: .5em 4px 0 0;
    float: left;
}
.woocommerce .products .star-rating {
    display: block;
    float: none;
}
.woocommerce .hreview-aggregate .star-rating {
    margin: 10px 0 0;
}
/* comments */
.woocommerce p.stars a {
    position: relative;
    height: 1em;
    width: 1em;
    text-indent: -999em;
    display: inline-block;
    text-decoration: none;
}

.woocommerce p.stars a::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    line-height: 1;
    font-family: WooCommerce;
    content: "\e021";
    text-indent: 0;
}

.woocommerce p.stars a:hover ~ a::before {
    content: "\e021";
}

.woocommerce p.stars:hover a::before {
    content: "\e020";
    color: var(--accent-color);
}

.woocommerce p.stars.selected a.active::before {
    content: "\e020";
    color: var(--accent-color);
}

.woocommerce p.stars.selected a.active ~ a::before {
    content: "\e021";
}

.woocommerce p.stars.selected a:not(.active)::before {
    content: "\e020";
    color: var(--accent-color);
}
/*============================= Star Rating ==========================



/* ЦЕНА В КАРТОЧКЕ ТОВАРА НА СТРАНИЦЕ МАГАЗИНА */
span.price {
    display: block;
    text-align: center;
}

span.price,
.price ins {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: var(--red-color);
}

span.price del {
    color: var(--gray-color);
    font-weight: 400;
    font-size: .8rem;
    text-decoration: line-through;
}

.product-bottom-details a {
    font-size: 1rem;
}

a.added_to_cart {
    font-size: .9rem;
    margin-left: 10px;
}
/* ЦЕНА В КАРТОЧКЕ ТОВАРА НА СТРАНИЦЕ МАГАЗИНА */



/* Search form */
.aws-container .aws-search-form {
    height: 38px;
}
.aws-container .aws-search-field{
    border: 1px solid #ffc107;
}
.aws-container .aws-search-field {
    border-right-color: #ffc107;
    padding: .375rem .75rem;
    font-size: 1rem;
    color: var(--text-color);
}

.aws-container .aws-search-field:focus {
    border-color: var(--accent-color);
}

.aws-container .aws-search-field::placeholder {
    font-size: 1rem;
    color: var(--gray-color);
}

.aws-container .aws-search-form .aws-form-btn {
    background: #fff;
    border: 1px solid #ffc107;
}

.aws-container .aws-search-form .aws-form-btn:hover {
    background: #ffc107;
}

.aws-container .aws-search-form .aws-form-btn:hover > span {
    color: #000;
}

.aws-container .aws-search-form .aws-search-btn_icon {
    color: #FFD333;
}
/* Search form */



/* ПАГИНАЦИЯ */
.woocommerce-pagination ul.page-numbers {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.woocommerce-pagination li .page-numbers {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: var(--accent-color);
    background-color: #fff;
    border: 1px solid #dee2e6;
    text-decoration: none;
}

.woocommerce-pagination span.page-numbers {
    z-index: 3;
    color: #fff;
    background-color: #FFD333;
    border-color: #FFD333;
}

.woocommerce-pagination a.page-numbers:hover {
    z-index: 2;
    color: #e6b400;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
/* ПАГИНАЦИЯ */



.home-categories a {
    text-decoration: none;
}

.home-categories a:hover {
    text-decoration: underline;
}

.categories-home span {
    font-size: 14px;
}


/* КАРТОЧКАК ТОВАРА */
.product-content .onsale {
    background: var(--red-color);
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.product-content .price > span > bdi,
.product-content .price ins {
    color: var(--red-color);
    font-weight: 600;
    font-size: 25px;
}

.product-content .price > del > span {
    color: var(--gray-color);
    font-weight: 400;
    text-decoration: line-through;
    font-size: 1rem;
}

.product_meta {
    margin-top: 20px;
}

.product_meta > span {
    display: block;
}
.product-content .input-group{
    width: 100% !important;
}
.quantity{
    width: 150px;
}
.woocommerce-message {
    background-color: var(--accent-color);
    padding: 1rem;
    margin-bottom: 1rem;
    color: #000;
}
.woocommerce-product-gallery {
    position: relative;
}

.woocommerce-product-gallery .woocommerce-product-gallery__trigger {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
    text-decoration: none;
}

.woocommerce-product-gallery .flex-control-thumbs {
    list-style: none;
    overflow: hidden;
    padding: 0;
}

.woocommerce-product-gallery .flex-control-thumbs li {
    width: 25%;
    float: left;
}

.woocommerce-product-gallery .flex-control-thumbs li:nth-child(4n+1) {
    clear: left;
}

.woocommerce-product-gallery .flex-control-thumbs li img {
    cursor: pointer;
    opacity: .5;
    transition: all .3s;
}

.woocommerce-product-gallery .flex-control-thumbs li img:hover,
.woocommerce-product-gallery .flex-control-thumbs li img.flex-active {
    opacity: 1;
}

.product-content-wrapper .carousel-item img {
    cursor: pointer;
}

.fancybox__container {
    z-index: 100000;
}
.product-add2cart.d-flex,
.input-group.d-flex{
    gap: 15px;
}
/* СКРЫВАЕМ В ИНПУТЕ ПЕРЕКЛЮЧЕНИЕ + И - */
/* Chrome, Safari, Edge, Opera */
.product-add2cart input.qty[type=number]::-webkit-outer-spin-button,
.product-add2cart input.qty[type=number]::-webkit-inner-spin-button,
.woocommerce-grouped-product-list-item input.qty[type=number],
.woocommerce-cart-form input.qty[type=number]::-webkit-outer-spin-button,
.woocommerce-cart-form input.qty[type=number]::-webkit-inner-spin-button{
    -moz-appearance: textfield;
    text-align: center;
    -webkit-appearance: none;
    margin: 0;
}
.woocommerce-cart-form input{
    text-align: center;
}

/* Firefox */
.product-add2cart input.qty[type=number] {
    -moz-appearance: textfield;
    text-align: center;
}
/* КАРТОЧКАК ТОВАРА */



/* КОРЗИНА */
.shop_table th {
    color: var(--text-color);
    font-weight: 500;
}

.woocommerce-cart-form__contents td,
.shop_table_responsive td,
.woocommerce-checkout-review-order-table tr td:last-child,
.woocommerce-checkout-review-order-table tr th:last-child{
    text-align: right;
    color: var(--text-color);
    font-weight: 500;
}

.shop_table ul {
    list-style: none;
    padding-left: 0;
}

.shop_table ul input {
    margin-right: 5px;
}

.woocommerce-notices-wrapper ul {
    list-style: none;
}

.woocommerce-notices-wrapper .woocommerce-error {
    color: #fff;
    background: #dc3545;
    padding: 1rem;
}
.cart-subtotal th{
    font-weight: 800;
}
.coupon{
    margin-bottom: 20px;
}


/* ОФОРМЛЕНИЕ ЗАКАЗА */
.woocommerce-info{
    margin-bottom: 15px;
    padding: 10px;
    background-color: #fff;
}
.woocommerce-billing-fields__field-wrapper,
.woocommerce-additional-fields__field-wrapper,
.woocommerce-shipping-fields__field-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.woocommerce-billing-fields__field-wrapper p,
.woocommerce-additional-fields__field-wrapper p,
.woocommerce-shipping-fields__field-wrapper p {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    flex-direction: column;
}

.woocommerce-checkout p .input-text {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.woocommerce-checkout p .input-text:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffefb3;
    outline: 0;
    box-shadow: none;
}

.woocommerce-checkout p .select2-container--default .select2-selection--single {
    border-radius: 0;
}

.woocommerce-checkout p .select2-container .select2-selection--single {
    height: 38px;
}

.woocommerce-checkout p .select2-container .select2-selection--single .select2-selection__rendered {
    padding-top: 4px;
}

.woocommerce-checkout p .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 5px;
}

.woocommerce-additional-fields__field-wrapper p {
    flex: 100%;
    max-width: 100%;
}

.woocommerce-checkout textarea {
    min-height: 100px;
}
.woocommerce-checkout-payment ul {
    list-style: none;
    padding-left: 0;
}

.woocommerce-thankyou-order-received {
    background: var(--accent-color);
    color: var(--contrast-color);
    padding: 10px;
}

.woocommerce-order-details,
.woocommerce-customer-details {
    padding: 20px 0;
}



@media only screen and (max-width : 768px) {
    .woocommerce-checkout p {
        flex: 100%;
        max-width: 100%;
    }
}
